In [1]:
import pandas as pd
import seaborn as sns

In [2]:
# Load the datasets
dataset_items = pd.read_csv('../data/raw/dataset_items.csv')
dataset_reviews = pd.read_csv('../data/raw/dataset_reviews.csv')

with open('../data/raw/categories.txt', 'r') as file:
    data_categories = file.read()

In [3]:
dataset_reviews.head()

,itemId,category,name,rating,originalRating,reviewTitle,reviewContent,likeCount,upVotes,downVotes,helpful,relevanceScore,boughtDate,clientType,retrievedDate
0,100002528,beli-harddisk-eksternal,Kamal U.,5,NaN,NaN,bagus mantap dah sesui pesanan,0,0,0,True,26.51,09 Apr 2019,androidApp,2019-10-02
1,100002528,beli-harddisk-eksternal,yofanca m.,4,NaN,NaN,"Bagus, sesuai foto",0,0,0,True,22.49,24 Sep 2017,androidApp,2019-10-02
2,100002528,beli-harddisk-eksternal,Lazada Customer,5,NaN,ok mantaaapppp barang sesuai pesanan.. good,okkkkk mantaaaaaaapppp ... goood,0,0,0,True,21.50,04 Apr 2018,androidApp,2019-10-02
3,100002528,beli-harddisk-eksternal,Lazada Customer,4,NaN,NaN,bagus sesuai,0,0,0,True,20.51,22 Sep 2017,androidApp,2019-10-02
4,100002528,beli-harddisk-eksternal,Yosep M.,5,NaN,NaN,NaN,0,0,0,True,16.01,17 Agu 2018,androidApp,2019-10-02

In [4]:
dataset_reviews.isnull().sum()

itemId                 0
category               0
name                   0
rating                 0
originalRating    203779
reviewTitle       180388
reviewContent      96758
likeCount              0
upVotes                0
downVotes              0
helpful                0
relevanceScore         0
boughtDate          7107
clientType             0
retrievedDate          0
dtype: int64

In [5]:
dataset_reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 203787 entries, 0 to 203786
Data columns (total 15 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   itemId          203787 non-null  int64
 1   category        203787 non-null  object
 2   name            203787 non-null  object
 3   rating          203787 non-null  int64
 4   originalRating  8 non-null       float64
 5   reviewTitle     23399 non-null   object
 6   reviewContent   107029 non-null  object
 7   likeCount       203787 non-null  int64
 8   upVotes         203787 non-null  int64
 9   downVotes       203787 non-null  int64
 10  helpful         203787 non-null  bool
 11  relevanceScore  203787 non-null  float64
 12  boughtDate      196680 non-null  object
 13  clientType      203787 non-null  object
 14  retrievedDate   203787 non-null  object
dtypes: bool(1), float64(2), int64(5), object(7)
memory usage: 22.0+ MB